/target
progress.md
re_data/
bios/

# Credential files
*.pass
*.kdbx*
*-ssh+gpg-keys*

# local Arch/AUR package testing
packaging/aur/src
packaging/aur/pkg
packaging/aur/siomon
packaging/aur/*.tar.zst
packaging/aur/*.tar.xz
packaging/aur/*.tar.7z

# Kernel module build artifacts
kmod/*/*.o
kmod/*/*.ko
kmod/*/*.mod
kmod/*/*.mod.c
kmod/*/*.mod.o
kmod/*/Module.symvers
kmod/*/modules.order
kmod/*/.*cmd
kmod/*/.*.o
